html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body,
#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}
